/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear- {
	display: none;
}

button {
	cursor: pointer;
}

button-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* В фаерфоксе убирает лишние отступы в кнопках */
a, a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

/* END RESET */

:root {
	--ui-background: rgba(29, 29, 29, 0.8);
	--main-text-color: rgb(200, 200, 200);
}

body {
	color: var(--main-text-color);
}

select:hover, option:hover, label:hover, input:hover {
	cursor: pointer;
}

select {
	border: 1px solid gray;
	color: var(--main-text-color);
	background-color: transparent;
}

option {
	background-color: rgb(30, 30, 30);
}

input[type=radio] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 1rem;
	height: 1rem;

	border: 1px solid gray;
	border-radius: 50%;

	transition: 500ms;
}

input[type=radio]:checked {
	transform: scale(0.7);
	background-color: mediumturquoise;
}

input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 1rem;
	height: 1rem;

	border: 1px solid gray;
	border-radius: 3px;

	transition: 200ms;
}

input[type=checkbox]:checked {
	background: center url(../public/icons/Check.svg);
}

button {
	background-color: transparent;
	border: 1px solid gray;
}

.icon-btn {
	transition-duration: 100;
}

.icon-btn.hidden {
	display: none;
}

.icon-btn:hover {
	transform: scale(1.25);
	cursor: pointer;
}

.UI {
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

/* params siddebar */
.parameters__area {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 150px;
	width: 15%;
	height: 100%;
	pointer-events: all;
}

.parameters__container {
	display: flex;
	flex-direction: column;
	gap: 1em;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 10px 0 70px 10px;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: #757575 #353535;
	transition-duration: 150ms;
	background-color: var(--ui-background);
	z-index: 1;
}

.parameters__container::-webkit-scrollbar {
	width: 8px;
	background: #757575;
}

.parameters__container.hidden {
	transform: translateX(-100%);
}

.parameters__container.pinned, .parameters__area:hover > .parameters__container {
	transform: unset;
}

.parameters__field {
	min-width: 100%;
	display: flex;
	gap: 3px;
	flex-wrap: wrap;
}

.parameters__field .input__element {
	width: 100%;
}

/* inspector elements */
#inspect-trigger {
	position: absolute;
	top: 2em;
	right: 2em;
	padding: 2px;
	background-color: var(--ui-background);
	border-radius: 25%;
	transition-duration: 100ms;
	pointer-events: all;
}

#inspect-trigger:hover {
	cursor: pointer;
	scale: 1.2;
}

#inspect-trigger > .icon-btn:hover {
	transform: unset;
}

/* stream area */
.stream__area {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 10%;
	pointer-events: all;
}

.stream__area.transparent {
	height: 0;
	overflow: visible;
}

.stream__area.transparent .stream__container {
	transform: translateY(-5em);
}

.stream__container {
	display: flex;
	gap: 15px;
	width: fit-content;
	margin: 0 auto;
	padding: 10px 15px;
	border-radius: 30px;
	transition-duration: 200ms;
	background-color: var(--ui-background);
}

.stream__container.hidden {
	transform: translateY(300%);
}

.stream__area:not(.transparent):hover .stream__container {
	transform: translateY(0);
}

.inspecting > .renderers:hover {
	cursor: crosshair;
}

.inspector {
	position: absolute;
	top: 20%;
	right: 2em;
	padding: 1em;
	border-radius: 10px;
	background-color: var(--ui-background);
	transition: 150ms ease-out;
	pointer-events: all;
}

.inspector.hidden {
	transform: translateX(200%);
}

.inspector.pinned {
	transform: unset;
}

.inspector__section.hidden {
	display: none;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
}

@media (min-width: 768px) {
	.parameters__field .input__element {
		width: auto;
		/* display: flex; */
		/* flex-direction: column; */
		/* align-items: center; */
	}
}